
@font-face {
    font-family: 'scto grotesk';
    src: url('/assets/fonts/Scto-Grotesk-A-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'scto grotesk medium';
    src: url('/assets/fonts/Scto-Grotesk-A-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
