// ---
// sitemap: false
// ---

/*
variable declaration
*/
$logo: url('/assets/MonumentLab_Logo.svg');

/* text */

// $serif:           -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
// $sans-serif:      -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$serif:           "nocturne serif", Georgia, "Times New Roman", serif;
$sans-serif:      "scto grotesk", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; 
$main-font-size:  1rem;
$max-text-width:  900px;

/* colors */

$text-color:      #222222;
// $accent-color:    #f44441;
$accent-color:    #000;
$bg-color:        #ffffff;
$light-grey:      #dee2e6;
$dark-grey:       #aaaaaa;

/* viewport sizes */

$max-width:       1100px;
$break-lg:        900px;
$break-med:       780px;
$break-sm:        600px;

/* margins */

$margin:          2rem;
$more-margin:     3rem;
$less-margin:     1rem;
$super-margin:    5rem;

/* banner */

$banner-height:   400px;
$fade-time:       1.5s;

/* iiif viewer */
$viewer-height:   550px;


/*
font & asset import
*/

@import 'fonts';
@import 'wax-theme';
@import 'custom';
